
.contact-wrapper{
	width: 100%;
}

.contact-form{
	flex-direction:column;
	justify-content:space-between;
	p{
		color:$header-black;
	}
}

form{
	flex-wrap:wrap;
	justify-content:space-between;
	input{
		border-top:0;
		border-left:0;
		border-right:0;
		border-bottom:2px solid #e0e0e0;
		padding-bottom:15px;
	}
	input:first-of-type{
		width: 48%;
	}
	input:nth-of-type(2){
		width: 48%;
	}
	input:nth-of-type(3){
		width: 100%;
		margin-top:$gutter;
	}
	button{
		color:$header-black;
		width: 140px;
		padding:3px;
		justify-content:space-between;
		margin-left:auto;
		margin-top:$gutter;
		i{
			color:$blue;
		}
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  // color: pink;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  // color: pink;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  // color: pink;
	}
	:-moz-placeholder { /* Firefox 18- */
	  // color: pink;
	}
}

.contact-social{
	flex-direction:column;
	i{
		margin-bottom:$gutter / 2;
		color:$light-grey;
		@include font-size(16);
	}
}

.map{
	width: 100%;
}
