
// FEATURES SECTION

.features-details{
	p{
		margin-bottom:0;
		@include font-size(14);
	}
	img{
		height:100%;
	}
}

.features-upper{
	background: $grey;
	.features-details{
		img{
			margin-right:5%;
		}
	}
}

.features-lower{
	.features-lower-header{
		margin:0 0 $gutter * 2 0;
	}
	.features-lower-details-wrapper{
		flex-direction:column;
		@include breakpoint(large){
			flex-direction:row;
		}
	}
	.features-details{
		flex-direction:column;
		justify-content:space-between;
		padding:5% 0;
		.flex{
			transition:0.5s;
			margin-bottom:$gutter;
			img{
				margin-right:12%;
			}
			&:hover{
				background: $yellow;
			}
			@include breakpoint(large){
				// margin-bottom:$gutter;
			}
		}
	}
}

.cell{
	img{
		display: block;
		margin:0 auto;
	}
}
