
footer{
	background: $black;
	color:white;
	a{
		color:white;
		transition:0.5s;
		&:hover{
			color:$blue;
		}
	}
	.row{
		display:flex;
		flex-direction:column;
		@include breakpoint(large){
			flex-direction:row;
		}
	}
}

.footer-left, .footer-middle{
	margin-bottom:$gutter / 2;
	@include breakpoint(large){
		margin-bottom:0;
	}
}

.footer-left{
	p:last-of-type{
		@include lato();
		@include font-size(14);
		line-height:25px;
		width: 95%;
	}
}

.footer-middle{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	input{
		border:2px solid white;
		background: none;
		border-radius:2px;
		padding:8px 0;
		width: 75%;
		background: url(img/search-arrow.png) no-repeat right;
		text-indent:10px;
		background-position: right 10px top 55%;
	}
	.footer-middle-inner{
		p{
			@include font-size(14);
		}
	}
}

.footer-header{
	margin-top:0;
	@include lato-bold();
	@include font-size(20);
}

.footer-logo{
	@include lato-bold();
	@include font-size(30);
	margin:0;
}

.link-list{
	column-count:2;
	@include font-size(14);
	font-weight:bold;
	li{
		margin-bottom:$gutter / 2;
	}
}