
.fun-facts{
	color:white;
}

.fun-facts-header{
	margin-bottom:2.5%;
	img{
		display: block;
		margin: 0 auto;
	}
}

.fun-facts-item{
	div{
		border:1px solid white;
		height: 90px;
		width: 90px;
		margin:0 auto;
		border-radius:50%;
		justify-content:center;
		img{
			align-self:center;
		}
	}
}
