
header{
	background: rgba(76, 118, 255, 0.1);
}

.hero{
	flex-direction:column;
	@include breakpoint(large){
		height:100vh;
	}
}

.hero-content{
	border:1px solid red;
	color:white;
	padding:40px;
	p{
		@include lato();
		@include font-size(20);
		margin-bottom:0;
		@include lato();
	}
}

.hero-wrapper{
	height: 100%;
	align-items:center;
	justify-content:center;
}

.bg-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
