
header{
	background: rgba(76, 118, 255, 0.1);
}

.hero{
	flex-direction:column;
	@include breakpoint(large){
		height:100vh;
	}
}

.hero-content{
	color:white;
	padding:40px;
	.mobile-header-dash{
		margin:15px 0;
		@include breakpoint(large){
			display: none;
		}
	}
	p{
		@include lato();
		@include font-size(20);
		margin:0;
		@include lato();
		img{
			display: none;
			&:first-of-type{
				margin-right:35px;
			}
			&:last-of-type{
				margin-left:35px;
			}
		}
		@include breakpoint(large){
			margin:20px 0 0 0;
			img{
				display: inline-block;
			}
		}
	}
}

.hero-wrapper{
	height: 100%;
	align-items:center;
	justify-content:center;
}

.bg-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
