
// HEADER SECTION

.header-logo, .header-inner{
	justify-content:space-between;
}

.header-logo p, .header-nav a{
	padding:20px 0 10px 0;
}

.header-logo{
	width: 25%;
	p{
		margin: 0;
	}
}

.header-nav{
	width: 40%;
	a{
		color:white;
		display: block;
		border-top:2px solid transparent;
		transition:0.5s;
		&:hover{
			border-top:2px solid $blue;
		}
	}
}
