
// HEADER SECTION

.header-inner{
	@include breakpoint(medium){
		display:flex;
		justify-content:space-between;
	}
}

.header-nav-left{
	justify-content:space-between;
	@include breakpoint(medium){
		width: 30%;
	}
	p{
		margin:0;
		&:first-of-type{
			@include lato-bold();
			color:white;
			@include font-size(24);
			margin-top:15px;
		}
		&:last-of-type{
			font-style:italic;
			margin-top:22px;
			display: none;
			@include breakpoint(large){
				display: block;
			}
		}
	}
	.dash{
		color:$blue;
		font-style:normal;
		margin-right:15px;
	}
}

.header-nav-right{
	@include breakpoint(medium){
		width: 50%;
	}
	@include breakpoint(large){
		width: 40%;
	}
	li{
		@include lato();
	}
	a{
		color:white;
		display: block;
		border-top:3px solid transparent;
		transition:0.5s;
		margin-top:20px;
		padding-top:3px;
		&:hover{
			border-top:3px solid $blue;
		}
		@include breakpoint(medium){
			margin-top:0;
			padding:20px 0 10px 0;
		}
	}
}
