
.team-member{
	position:relative;
	img{
		height:100%;
		width: 100%;
	}
	.team-member-inner{
		visibility:invi;
		opacity:0;
		transition:opacity 0.3s ease-out;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background: rgba(76, 118, 255, 0.7);
		color:white;
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		p:first-of-type{
			margin:0;
		}
		.team-member-social{
			margin:0 auto;
			width: 63%;
			justify-content:space-between;
			a{
				color:white;
				background: rgba(0,0,0,0.2);
				padding:8px 13px;
				&:nth-of-type(2){
					padding:8px 18px;
				}
			}
		}
	}
	&:hover{
		.team-member-inner{
			visibility:visible;
			opacity:1;
		}
		+ .team-member-name{
			color:$green;
		}
	}
}

