
.team-member-wrapper{
	margin:0 0 $gutter 0;
	&:last-of-type{
		margin:0;
	}
}

.team-member{
	position:relative;
	width: 90%;
	margin:0 auto;
	img{
		height:100%;
		width: 100%;
	}
	&:hover{
		.team-member-inner{
			visibility:visible;
			opacity:1;
		}
		+ .team-member-name{
			color:$green;
		}
	}
	@include breakpoint(large){
		width: 100%;
	}
}

.team-member-inner{
	opacity:0;
	transition:opacity 0.3s ease-out;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(76, 118, 255, 0.7);
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:10px;
}

.team-member-title{
	p{
		margin:0;
	}
	p:last-of-type{
		margin: 15px $gutter;
		@include breakpoint(medium){
			margin:15px 0;
		}
	}
}

.team-member-social{
	margin:0 auto;
	width: 150px;
	display:flex;
	justify-content:space-between;
	a{
		color:white;
		background: rgba(0,0,0,0.2);
		padding:8px 13px;
		&:nth-of-type(2){
			padding:8px 18px;
		}
	}
}

.team-member-name{
	color:$header-black;
	font-weight:bold;
	margin-bottom:0;
}

.team-member-position{
	margin:5px 0 0 0;
	@include font-size(12);
}
