
//COLOURS

$blue: #4c76ff;
$grey: #efefef;
$yellow: #fefce9;
$black: #010305;
$green: #54c2a8;
$text-grey: #5b646e;
$header-black: #282528;
$light-grey: #cdd2d6;
$form-grey: #c7c9cc;


// LAYOUT

$gutter: 1.875rem;