
// MAIN STYLES

@import 'foundation';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'navigation';
@import 'hero';
@import 'features';
@import 'work';
@import 'team';
@import 'funfacts';
@import 'contact';


.text-center{
	text-align:center;
}

.flex{
	display:flex;
}

.wrap{
	flex-wrap:wrap;
}

.section-padding{
	padding:5% 0;
}

.section-header{
	margin-bottom:$gutter * 2;
	p{
		margin-top:$gutter * 1.5;
	}
	img{
		margin:0 auto;
		display: block;
	}
}

section{
	border:1px solid red;
}

header{
	background: rgba(76, 118, 255, 0.1);
}

footer{
	background: $black;
	color:white;
	a{
		color:white;
		transition:0.5s;
		&:hover{
			color:$blue;
		}
	}
}

.link-list{
	@include breakpoint(large){
		column-count:2;
	}
}



