
// MAIN STYLES

@import 'foundation';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'navigation';
@import 'hero';
@import 'features';
@import 'work';
@import 'team';
@import 'funfacts';
@import 'contact';
@import 'footer';


.text-center{
	text-align:center;
}

.flex{
	display:flex;
}

.wrap{
	flex-wrap:wrap;
}

.section-padding{
	padding:$gutter 0;
}

.period{
	color:$blue;
}

.section-header{
	margin-bottom:$gutter;
}
